* {
  margin: 0px;
  padding: 0px;
}
.black-bg {
  background-color: black;
}

.white-bg {
  background-color: white;
}

div {
  height: 100vh;
  width: 100vw;
}

input {
  outline: none;
  display: block;
  margin: 10px 10px;
}
